# VodiWalker Professional 17
ADMIN_USERNAME=VodiAdmin
ADMIN_PASSWORD=change-me-now
SECRET_KEY=
PORT=8000
RAILWAY_VOLUME_MOUNT_PATH=./data
PUBLIC_BASE_URL=
TCP_PUBLIC_HOST=
TCP_PUBLIC_PORT=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_IDS=
TELEGRAM_BOT_USERNAME=VodiWalkerBot
